body {
    max-width: 600px;
    border:2px solid #d3dae2;
    margin: auto;
    background-color: #f0f8ff;
    height: 100vh;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.header {
    text-align: center;
    background-color: #d3dae2;
    padding: 10px;
}

.header a {
    /* background-color: blue; */
    padding: 10px 20px;
    text-decoration: none;
    color: rgb(59, 52, 199);
}

h1 {
    text-align: center;
    color:rgb(59, 52, 199)
}

img {
    height: 400px;
    width: 100%
}
.footer {
    border: 2px solid rgb(94, 94, 169);
         /* width:100%;  */
         text-align:center; 
         position:fixed; 
         bottom:0;
         background-color:rgb(176, 178, 193);
         right:0
}
p {
    margin-top: 35px;
    text-align: center;
}

#message-2 {
    margin-top: 0;
}

.form {
    text-align: center;
    margin-top: 20px;
    /* margin:auto;
    width:100% */
}

#input-text {
    border:2px solid #d3dae2;
    padding:8px
}

#input-submit {
    border:2px solid #d3dae2;
    padding:8px;
    background-color: rgb(111, 110, 119);
    color:white;
    cursor: pointer;
}